name: CI pipeline
on: [push, pull_request] #Which triggers there are available?

permissions:
  security-events: write
  contents: read
  pull-requests: read

jobs:
  test-job:
    runs-on: ubuntu-latest
    if: | # I don't want to run on dependebot pushes, just pr, but for the rest all, including all prs
      (github.event_name == 'push' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'pull_request')
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ "{{cookiecutter.python_version}}" ]
        {% raw %}
    container: python:${{ matrix.python-version }}-bookworm
        {% endraw %}
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:17
        # Provide the password for postgres
        env:
          POSTGRES_DB: django_db
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_pass
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - run: echo "Starting build"
      - run: apt update && apt install -y gcc libpq-dev libz-dev
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Install Poetry
        run: |
            curl -fsS -o get-poetry.py https://install.python-poetry.org
            python get-poetry.py -y
            echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: poetry install --no-interaction
      - name: Run tests
        run: poetry run python manage.py test -v 3
        env:
          DJANGO_SETTINGS_MODULE: "{{cookiecutter.__project_slug}}.settings"
          DJANGO_CONFIGURATION: Testing
          DATABASE_URL: "postgresql://django_user:django_pass@postgres/django_db"

  {%- if cookiecutter.heroku_app_name|length -%}
# Uncomment the following lines if deploying to heroku
  deploy:
    if: contains(fromJson('["refs/heads/master", "refs/heads/main"]'), github.ref)
    needs: [ test-job ]
    runs-on: ubuntu-22.04
    steps:
      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: Deploying to heroku
        uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_email: "YOUR_HEROKU_EMAIL_HERE"
          # https://help.heroku.com/PBGP6IDE/how-should-i-generate-an-api-key-that-allows-me-to-use-the-heroku-platform-api
          # Note this YOUR_HEROKU_EMAIL_HERE token, if it's revoked follow the link above to generate a new token, update in repo settings and replace the email accordingly
{%- raw %}
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
{%- endraw %}
          heroku_app_name: "{{cookiecutter.heroku_app_name}}"

{% endif %}

{%- if (cookiecutter.is_aws_app == 'y' or cookiecutter.is_aws_app == 'true' or cookiecutter.is_aws_app) %}


# Uncomment if you're on aws with code pipeline
#  deploy:
#    if: contains(fromJson('["refs/heads/prod"]'), github.ref)
#    needs: [ test-job ]
#    runs-on: ubuntu-22.04
#    steps:
#      - name: Trigger AWS CodePipeline
#        uses: zulhfreelancer/aws-codepipeline-action@v1.0.7
#        with:
#          aws-region: "eu-west-1"
{% raw -%}
#          aws-access-key: ${{ secrets.AWS_ACCESS_KEY_ID }} # Note you need those secrets configured for a user with a role to trigger codepipeline start
#          aws-secret-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
{% endraw %}
#          pipeline-name: "YOUR_PIPELINE_NAME"
  {%- else -%}
#  deploy:
#    if: contains(fromJson('["refs/heads/prod"]'), github.ref)
#    needs: [ test-job ]
#    runs-on: ubuntu-latest
#    steps:
#      - name: echo
#        uses: echo "implement deploy"
{% endif %}
